.actions {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  &.toggle-button {
    border: 0;
    background:  rgb(29, 80, 219);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;

    &.cancel{
      background:  rgb(54, 54, 54);
    }
  }

}
